
<app-add-host-form></app-add-host-form>

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8"><hr></div>
  <div class="col-sm-2"></div>
</div>
<div class="modal fade master-details-modal" tabindex="-1" role="dialog" aria-labelledby="masterDetailsModal" id="masterDetailsModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">What would you like to do?</h4>
      </div>
      <div class="modal-body">
        <p>Please choose the operation you would like to perform.</p>
      </div>
      <div class="modal-footer">
        <a [routerLink]="['/execs/details', selectedAgentExecution.agentExecId]" class="btn btn-primary" data-dismiss="modal" role="button">View Master Details</a>
        <button type="button" class="btn btn-info" data-dismiss="modal">Nothing</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade add-master-modal" tabindex="-1" role="dialog" aria-labelledby="addMasterModal" id="addMasterModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4>Deploy New Role on Host</h4>
      </div>
      <div class="modal-body">
        <p>This will deploy a new role ({{availableRoles.join(', ')}}) on the selected host. Depending on the type of
        role being deployed, a new type master could be later assigned to it.</p>
        <p *ngFor="let role of availableRoles; let idx = index">
          <span *ngIf="idx % 3 == 0"><button type="button" [ngClass]="{'btn btn-primary': true, 'active': selectedIndex === idx}" (click)="modalRoleSelected(role, idx)">{{role.roleLabel}}</button></span>
          <span *ngIf="idx % 3 == 1"><button type="button" [ngClass]="{'btn btn-warning': true, 'active': selectedIndex === idx}" (click)="modalRoleSelected(role, idx)">{{role.roleLabel}}</button> </span>
          <span *ngIf="idx % 3 == 2"><button type="button" [ngClass]="{'btn btn-critical': true, 'active': selectedIndex === idx}" (click)="modalRoleSelected(role, idx)">{{role.roleLabel}}</button> </span>
        </p>
      </div>
      <div class="modal-footer">
        <button *ngIf="selectedIndex >= 0" type="button" class="btn btn-primary" data-dismiss="modal" (click)="onDeployRoleClicked()">Deploy Selected Role</button>
        <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-4">
    Choose an actor system (cluster):
  </div>
  <div class="col-xs-4">
    <select id="chooseCluster" *ngFor="let deploy of ">

    </select>
  </div>
</div>
<div class="row">
  <div class="col-sm-12" *ngFor="let host of hosts">
    <div class="thumbnail">
      <img src="" alt="Host {{host.address}}">
      <div class="caption">
        <h3>Host is {{host.address}}</h3>
        <p>Number of actors deployed: {{host.deployments.length}}</p>
        <p *ngFor="let deploy of host.deployments">Roles for akka actors (deploy_id | role):
          <span class="label label-warning" (click)="onDeploymentClick(deploy)">{{deploy.deployId}}|{{deploy.role.roleLabel}}</span>
        </p>
        <p *ngFor="let exec of host.executions; let i = index">Masters (deploy_id | master):
          <span *ngIf="i%3 == 0" class="label label-primary" data-target=".master-details-modal" (click)="onExecutionClick(exec)">{{exec.deployId}}|{{exec.masterType.masterLabel}}</span>
          <span *ngIf="i%3 == 1" class="label label-success" data-target=".master-details-modal" (click)="onExecutionClick(exec)">{{exec.deployId}}|{{exec.masterType.masterLabel}}</span>
          <span *ngIf="i%3 == 2" class="label label-info" data-target=".master-details-modal" (click)="onExecutionClick(exec)">{{exec.deployId}}|{{exec.masterType.masterLabel}}</span>
        </p>
        <p *ngFor="let exec of host.executions">Execution IDs:
          <span><a href="">{{exec.agentExecId}}</a></span>
        </p>
        <p><a href="#" class="btn btn-primary" data-target=".add-master-modal" (click)="onNewRoleClick(host)">Deploy New Role</a></p>
      </div>
    </div>
  </div>
</div>
