<div class="row" [hidden]="addHostError === ''">
  <div class="col-xs-12">
    <div class="alert alert-danger" role="alert">{{addHostError}}</div>
  </div>
</div>

<app-add-host-form (hostEmitter)="onAddHostFormSubmit($event)" [showMoreOptions]="true"></app-add-host-form>

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8"><hr></div>
  <div class="col-sm-2"></div>
</div>
<div class="modal fade master-details-modal" tabindex="-1" role="dialog" aria-labelledby="masterDetailsModal" id="masterDetailsModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">What would you like to do?</h4>
      </div>
      <div class="modal-body">
        <p>Please choose the operation you would like to perform.</p>
      </div>
      <div class="modal-footer">
        <a *ngIf="selectedAgentExecution" [routerLink]="['/execs/details', selectedAgentExecution.agentExecId]" class="btn btn-primary" data-dismiss="modal" role="button">View Master Details</a>
        <button type="button" class="btn btn-info" data-dismiss="modal">Nothing</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade add-master-modal" tabindex="-1" role="dialog" aria-labelledby="addMasterModal" id="addMasterModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4>Deploy New Role on Host</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" *ngIf="deployNewRoleError">{{deployNewRoleError}}</div>
        <app-add-deployment-form (parentDeploymentByRole)="deploymentByRole"></app-add-deployment-form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onDeployRoleClicked()">Deploy Selected Role</button>
        <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-8">
    <hr/>
  </div>
  <div class="col-xs-2"></div>
</div>
<div class="row">
  <div class="col-xs-4">
    Filter by actor system (cluster):
  </div>
  <div class="col-xs-4">
    <select id="chooseCluster" (change)="onActorSystemSelected($event.value)">
      <option [value]="-1">No Filter</option>
      <option *ngFor="let actorSystemName of actorSystems" [value]="actorSystemName">{{ actorSystemName }}</option>
    </select>
  </div>
</div>
<div class="row" *ngIf="errorMessage && errorMessage == ''">
  <div class="col-sm-12" *ngFor="let host of hosts">
    <div class="thumbnail">
      <img src="" alt="Host {{host.address}}">
      <div class="caption">
        <h3>Host is {{host.address}}</h3>
        <p>Number of actors deployed: {{host.deployments.length}}</p>
        <p *ngFor="let deploy of host.deployments">Roles for akka actors (deploy_id | role):
          <span class="label label-warning" (click)="onDeploymentClick(deploy)">{{deploy.deployId}}|{{deploy.role.roleLabel}}</span>
        </p>
        <p *ngFor="let exec of host.executions; let i = index">Masters (deploy_id | master):
          <span *ngIf="i%3 == 0" class="label label-primary" data-target=".master-details-modal" (click)="onExecutionClick(exec)">{{exec.deployId}}|{{exec.masterType.masterLabel}}</span>
          <span *ngIf="i%3 == 1" class="label label-success" data-target=".master-details-modal" (click)="onExecutionClick(exec)">{{exec.deployId}}|{{exec.masterType.masterLabel}}</span>
          <span *ngIf="i%3 == 2" class="label label-info" data-target=".master-details-modal" (click)="onExecutionClick(exec)">{{exec.deployId}}|{{exec.masterType.masterLabel}}</span>
        </p>
        <p *ngFor="let exec of host.executions">Execution IDs:
          <span><a href="">{{exec.agentExecId}}</a></span>
        </p>
        <p>
          <a href="#" class="btn btn-primary" data-target=".add-master-modal" (click)="onNewRoleClick(host)">Deploy New Role</a>
          <a [routerLink]="['/masters/add', host.hostId]" class="btn btn-warning" role="button">Execute Master</a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="errorMessage">
  <div class="col-xs-12">
    <div class="alert alert-danger" role="alert">{{errorMessage}}</div>
  </div>
</div>
