<div class="row">
  <div class="panel panel-primary">
    <div class="panel-heading">Master Details - Running on this agent</div>
    <div class="panel-body">
      <p>Here you can find de details of the current Master being executed by this agent. If you wish to modify any of
      its field, click on the edit button below. However, keep in mind that altering the params of execution, will only
      become effective after relaunching the whole master cluster.</p>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Field ID</th>
          <th>Field</th>
          <th>Current Value</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody *ngFor="let field of executionDetails" *ngIf="executionDetailsRetrieveError === ''">
        <tr *ngIf="field.field.fieldEnabled">
          <td>{{field.field.fieldId}}</td>
          <td *ngIf="errorField === ''">{{field.field.fieldName}}</td>
          <td *ngIf="errorField">{{errorField}}</td>
          <td *ngIf="!editing">{{field.value}}</td>
          <td *ngIf="editing"><input type="text" [(ngModel)]="field.value"></td>
          <td *ngIf="errorField === ''">{{field.field.fieldDescription}}</td>
          <td *ngIf="errorField">{{errorField}}</td>
        </tr>
      </tbody>
      <tbody *ngIf="executionDetailsRetrieveError">
        <tr>
          <td colspan="4">{{executionDetailsRetrieveError}}</td>
        </tr>
      </tbody>
    b
    <div class="panel-footer">
      <button class="btn btn-warning" *ngIf="!editing" (click)="">Edit Execution</button>
      <button class="btn btn-success" *ngIf="editing" (click)="onDeployClick()">Deploy Master</button>
      <button class="btn btn-warning" *ngIf="editing" (click)="onDeployCancel()">Cancel</button>
    </div>
  </div>
</div>
